@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

* {
   font-family: 'Montserrat', sans-serif;
   color: #000000;
}

.App {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: stretch;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
  
}

input, select {
  padding: 8px;
  margin: 2px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.151);
  width: 200px;
}

input:focus,
textarea:focus,
select:focus {
 outline: none;
}

select {
  width: 220px;
}

button, .buttonnext-button {
  margin: 10px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: #373d32;
  border: 0;
  color: #EDEAE4;
  font-size: 4vw;
  cursor: pointer;
}

button:hover, button:active, .buttonnext-button:hover, .buttonnext-button:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  background-color: #67725d;
  transition: all 0.20s;
}

.back-button, .next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: 5px;
  width: 90px;
  height: 30px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: solid 2px #373d32;
  color: #373d32;
  font-size: 3vw;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0);
}

.next-button {
  color: #EDEAE4;
  background-color: #373d32;
}

.back-button:hover, .next-button:hover, .back-button:active, .next-button:active {
  background-color: #373d32;
  color: #EDEAE4;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: all 0.20s;
}

.next-button:hover, .next-button:active  {
  border: solid 2px #67725d;
  background-color: #67725d;
  color: #EDEAE4;
}

.logout-button {
  width: 200px;
  height: 50px;
  font-size: 5vw;
  border-radius: 10px;
  margin: 20px auto 40px auto;
}

.buttonnext-button {
  margin: 10px;
  padding: 10px 25px 10px 25px;
  width: 150px;
}

.pop-up-box {
  padding: 3px;
  color: #373d32;
}

.light-accent-bg {
  background-color: #EDEAE4;
}

.dark-accent-bg {
  background-color: #DDD8CB;
}

.light-tone-bg {
  background-color: #67725d;
}

.dark-tone-bg {
  background-color: #373d32;
}

.dark-accent-text {
  color: #D4C8BF;
}

.light-accent-text {
  color: #EDEAE4;
}

.light-tone-text {
  color: #67725d;
}

.dark-tone-text {
  color: #373d32;
}

.center-align {
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: center;
  margin: auto;
}

.height {
  padding-bottom: 10px;
}


@media only screen and (min-device-width: 660px) {

button, .buttonnext-button {
  font-size: 14px;
}

.back-button, .next-button {
  font-size: 14px;
}

.logout-button {
  font-size: 18px;
}

.center-align {
  width: 100%;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.content {
  flex: 1 0 auto;
}
}

@media only screen and (min-device-width: 1200px){
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
}