@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

.admin-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    color: #0E2823;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.admin-login {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   border-radius: 20px;
   margin: 20px;
   padding: 20px;
   width: 250px;
   background-color: #f7ebe8;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-family: 'Montserrat', sans-serif;
}

.admin-text {
    margin: 15px 0 5px 0;
}

.admin-password-text {
    font-size: 3.5vw;
    margin: 5px 0 10px 0;
    display: block;
}

.admin-forgotpassword {
    display: block;
    width: 300px;
    text-align: left;
    margin: auto;
    margin-bottom: 20px;
}

.admin-pw-recovery-button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* FORMS */
.forms-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: #0E2823;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.form-main-title {
    font-size: 6vw;
    margin: 10px 0 10px 0;
    text-align: left;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    
}

.form-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.form-input {
    margin: 10px;
    text-align: left;
    flex-wrap: wrap;
}

.admin-title {
    margin-bottom: 1px;
}

.form-submit {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.show-password {
    text-align: right;
}

.password-field {
    margin: 3px 15px 0 10px;
    font-size: small;
}

.pw-checkbox {
    width: auto;
}

.password-field2 {
    margin: 3px 0 0 40px;
    font-size: small;
}

.hr {
    border: 1px solid #091b18;
    width: 200px;
}

.admin-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;
    background-color: #0E2823;
    color: #F7EBE8;
    width: 150px;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);

}

.admin-form-button:hover, .admin-form-button:active {
    background-color: #415551;
}


@media only screen and (min-device-width: 660px) {

.admin-login {
    width: 300px;
}

.admin-password-text {
    font-size: 14px;
}

/* FORMS */
.forms-wrapper {
    padding: 20px;
}

.form-section {
    width: 500px;
}

.form-main-title {
    font-size: 25px;
}

.hr {
    width: 500px;
}

.form-item {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
}

.password-field2 {
    margin: 3px 0 0 10px;
}
.admin-form-button {
    font-size: 12px;
    padding: 9px;
 }
}
