.buttonshare-wrapper {
}

.buttonshare-container {
    background-color: #000000;
}

.buttonshare-button {
    border: solid 2px #F7EBE8;
    border-radius: 50px;
}

.buttonshare-share-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: black;
    color:#F7EBE8;
    height: 90px;
    width: 90px;
    font-weight: bold;
    font-size: 3.5vw;
    letter-spacing: 1px;
    box-shadow: 0px 2px 0px #ffc2b3;
    margin: 15px;
}