.buttonshare-wrapper {
    background-color: #00000000;
}

.buttonshare-text {
    margin: 10px;
    font-size: 14px;
    text-align: center;
}

.buttonshare-container {
    margin: 0;
}

.buttonshare-detail {
    border: solid 3px #F7EBE8;
    border-radius: 50px;
    margin: 5px;
}

.buttonshare-detail:hover {
    border: solid 3px #0E2823;
    transition: all 0.20s;
}

button.react-share__ShareButton {
    margin: 0;
    padding: 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0);
}

div.react-responsive-modal-modal {
 border-radius: 10px;
 margin: 0;
 padding: 10px;
}

.react-responsive-modal-closeButton, .react-responsive-modal-closeButton:hover {
    top: 1;
    right: 1;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-color: transparent;
}

.buttonshare-share-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: black;
    color:#F7EBE8;
    height: 60px;
    width: 90px;
    font-weight: bold;
    font-size: 3.5vw;
    letter-spacing: 1px;
    box-shadow: 0px 2px 0px #ffc2b3;
    margin: 15px;
}

@media only screen and (min-device-width: 660px) {
.buttonshare-share-button {
    font-size: 15px;
    margin: 15px 0 20px 0;
}
}