.choiceContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.itemsContainer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.imgCover {
   width: 150px;
}
.imgCategoryItemBox {
   width: 75px;
}
/* .afterClick {
   background: rgba(23, 24, 24, 0.79);
   border: 1px solid gray;
   width: 200px;
   height: 200px;
   margin: 20px;
}
.beforeClick {
   background: rgba(14, 40, 35, 0.79);
   border: 1px solid gray;
   width: 200px;
   height: 200px;
   margin: 20px;
} */

.typeOfItemContainer {
   display: flex;
   flex-direction: row;
   align-items: center;
}
.typeOfItemContainerRow {
   flex-direction: column;
}
.typeOfItem {
   border: 1px solid gray;
   background: rgba(143, 146, 146, 0.79);
   width: 120px;
   height: 120px;
   margin: 20px 5px 20px 5px;
}
/* .bigBoxContainer {
   display: flex;
   align-items: center;
   justify-content: center;
} */
.beforeClickCategory {
   display: flex;
   align-items: center;
   justify-content: center;
   background: #0e2823;
   border: 1px solid gray;
   width: 200px;
   height: 200px;
   margin: 20px;
   border-radius: 20px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.afterClickCategory {
   display: flex;
   align-items: center;
   justify-content: center;
   background: #404040;
   border: 1px solid gray;
   width: 200px;
   height: 200px;
   margin: 20px;
   border-radius: 20px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.beforeClickCategory img {
   width: 150px;
}
.afterClickCategory img {
   width: 150px;
}
.selected {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #404040;
   background-size: 100%;
   background-repeat: no-repeat;
   width: 15px;
   width: 120px;
   height: 120px;
   margin: 20px 5px 20px 5px;
   border-radius: 10px;
}

.deselected {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #818181;
   background-size: 100%;
   background-repeat: no-repeat;
   width: 15px;
   width: 120px;
   height: 120px;
   margin: 20px 5px 20px 5px;
   border-radius: 10px;
}
