.category-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 10px 50px 10px;
}

.category-items-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.category-title {
   font-size: 6vw;
   margin: 20px;
}

.category-img-category-item-box {
   width: 50px;
}

.category-back-next-buttons {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 30px 0 20px 0;
}

.category-type-of-item-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin: 10px;
}

.category-type-of-item-container-row {
   flex-direction: column;
}

.category-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.category-img-text {
   margin: 5px 0 0 0;
}

.category-type-of-item {
   width: 90px;
   height: 90px;
   margin: 10px 5px 10px 5px;
}

.category-after-click, .category-before-click {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 140px;
   height: 140px;
   margin: 5px;
   padding: 5px;
   border-radius: 10px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.category-before-click {
   background-color: #000000;
}

.category-before-click:hover, .category-before-click:active, .category-deselected:hover {
   background-color: #67725d;
   transition: all 0.25s;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.category-before-click img, .category-after-click img {
   width: 100px;
   margin-bottom: 3px;
}

.category-deselected, .category-selected {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   width: 50px;
   height: 50px;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
   cursor: pointer;
}

.category-deselected {
   background-color: #000000;
}

.category-selected {
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.category-deselected:hover {
   background-color: #67725d;
}

.category-results-container {
   display: flex;
   justify-content: space-evenly;
}


@media only screen and (min-device-width: 660px) {
   .category-wrapper {
      margin: 10px 10px 100px 10px;
   }
   .category-title {
      font-size: 30px;
      margin: 30px 20px 20px 20px;
   }

   .category-after-click, .category-before-click {
      width: 150px;
      height: 150px;
   }
}