.category-choice-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 10px;
}

.category-items-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.category-direction-text {
   font-size: 6vw;
   color: #0e2823;
   margin: 20px 0 10px 0;
}

.category-img-category-item-box {
   width: 50px;
}

.category-back-next-buttons {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 30px 0 20px 0;
}

.category-type-of-item-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin: 10px;
}

.category-type-of-item-container-row {
   flex-direction: column;
}

.category-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.category-type-of-item {
   width: 90px;
   height: 90px;
   margin: 10px 5px 10px 5px;
}

.category-after-click-category, .category-before-click-category {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #415551;
   width: 150px;
   height: 150px;
   margin: 10px;
   border-radius: 10px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
   color: #F7EBE8;
}

.category-before-click-category {
   background-color: #000000;
}

.category-before-click-category:hover, .category-before-click-category:active, .category-deselected:hover {
   background-color: #415551;
   transition: all 0.25s;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.category-before-click-category img, .category-after-click-category img {
   width: 100px;
   margin-bottom: 3px;
}

.category-deselected, .category-selected {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   width: 50px;
   height: 50px;
   background-color: #000000;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.category-selected {
   background-color: #415551;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.category-deselected:hover {
   background-color: #415551;
}

.category-results-container {
   display: flex;
   justify-content: space-evenly;
}


@media only screen and (min-device-width: 660px) {
.category-direction-text {
   font-size: 30px;
   margin: 30px 20px 20px 20px;
}
}