.choiceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 
 .afterClick {
    background: rgba(23, 24, 24, 0.79);
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    margin: 20px;
 }
 .beforeClick {
    background: rgba(14, 40, 35, 0.79);
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    margin: 20px;
 }
 