.cover-wrapper {
   margin: 0 10px 0 10px;
}

.cover-text-container {
   margin: 0 10px 35px 10px;
   text-align: left;
   font-size: 4vw;
   line-height: 1.4;
}

.cover-intro {
   font-size: 5.5vw;
   margin-bottom: 20px;
}

.cover-title {
   margin: 5px;
   font-size: 4vw;
}

.cover-direction-text {
   font-size: 6vw;
   margin: 15px;
}

.cover-direction-text2 {
   font-size: 3.5vw;
   margin: 0 0 20px 0;
}

.cover-choice-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 10px 0 10px;
}

.cover-img-cover {
   width: 100px;
   margin: 10px;
}

.cover-item-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.cover-before-click,
.cover-after-click,
.cover-before-click2,
.cover-after-click2 {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 150px;
   height: 150px;
   margin: 10px;
   border-radius: 10px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
   cursor: pointer;
}

.cover-before-click,
.cover-before-click2 {
   background-color: #000000;
}

.cover-before-click2,
.cover-after-click2 {
   width: 270px;
}

.cover-before-click:hover,
.cover-after-click:hover,
.cover-before-click2:hover,
.cover-after-click2:hover {
   background-color:#67725d;
   transition: all 0.25s;
}

.cover-disabled-link {
   pointer-events: none;
}

.tips {
   width: 100%;
}

@-webkit-keyframes blink {
   0% {
     opacity: 1;
   }
   50% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }

@media only screen and (min-device-width: 660px) {
   .cover-wrapper {
      margin: 10px 10px 150px 30px;
   }
   .cover-choice-container {
      flex-direction: row;
      justify-content: space-between;
      width: 500px;
      margin: auto auto 5px auto;
   }
   .cover-title {
      font-size: 20px;
      margin: 30px;
   }

   .cover-text-container {
      font-size: 16px;
      width: 80%;
      margin: 20px auto 40px auto;
   }

   .cover-intro {
      font-size: 23px;
   }

   .cover-direction-text {
      font-size: 28px;
      margin: 30px;
   }

   .cover-direction-text2 {
      font-size: 17px;
   }
}
