.cover-wrapper {
   margin: 10px;
   height: 100%;
}

.cover-text-container {
   margin: 20px 30px 25px 30px;
}

.cover-title {
   margin: 5px;
   font-size: 4vw;
}

.cover-paragraph {
   text-align: left;
   font-size: 3.5vw;
   color: #0e2823;
}

.cover-direction-text {
   font-size: 6vw;
   color: #0e2823;
   margin: 10px;
}

.cover-direction-text2 {
   font-size: 3.5vw;
   color: #0e2823;
   margin: 0 0 20px 0;
}

.cover-choice-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 10px 0 10px;
}

.cover-img-cover {
   width: 100px;
   margin: 10px;
}

.cover-item-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.cover-before-click,
.cover-after-click,
.cover-before-click2,
.cover-after-click2 {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   background-color: #000000;
   color: #F7EBE8;
   width: 150px;
   height: 150px;
   margin: 10px;
   border-radius: 10px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.cover-after-click,
.cover-after-click2 {
   background-color: #415551;
}

.cover-before-click2,
.cover-after-click2 {
   width: 270px;
}

.cover-before-click:hover,
 .cover-after-click:hover,
  .cover-before-click2:hover,
   .cover-after-click2:hover {
   background-color:#415551;
}

.cover-disabled-link {
   pointer-events: none;
}

.tips {
   width: 100%;
}

@media only screen and (min-device-width: 660px) {
.cover-wrapper {
   margin: 10px 30px 10px 30px;
}

.cover-title {
   font-size: 20px;
   margin: 30px;
}

.cover-paragraph {
   font-size: 16px;
   margin: 0 0 40px 0;
}

.cover-direction-text {
   font-size: 28px;
   margin: 30px;
}

.cover-direction-text2 {
   font-size: 17px;
}
}