@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
.footer-wrapper {
    display: flex;
    background-color: #000000;
    padding: 10px;
}

* {
    text-decoration: none;
}

.footer-social, .footer-copyrights, .footer-admin {
    width: 100%;
    text-align: center;
    margin: auto;
    color: #F7EBE8;
    font-family: 'Montserrat', sans-serif;
}