.header-wrapper {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 120px;
    width: 100%;
    position: static;
    overflow: hidden;
    background-image: url(feet-bg.png);
    background-repeat: no-repeat;
    background-position: -131px -8px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.logo img {
    margin: 10px;
    width: 100px;
    height: auto;
}

.header-main {
    width: 100%;
    text-align: left;
    position: relative;
}

.header-title, .header-title a, .header-title a:visited, .header-title a:active {
    text-decoration: none;
    font-size: 6vw;
    width: 100%;
    font-weight: bold;
    position: absolute;
    margin: 0 0 10px 60px;
}

@media only screen and (min-device-width: 660px) {
    .header-wrapper {
        background-position: -75px 0;
        height: 140px;
    }
    
    .header-title, .header-title a {
        font-size: 28px;
        margin: 0 0 0 120px;
    }

    .logo img {
        margin: 20px;
        width: 150px;
        height: auto;
    }
}