.itembox-deselected-item-box, .itembox-selected-item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    background-color: #0E2823;
    width: 150px;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
 }
 .itembox-selected-item-box {
    background-color: #415551;
 }