.logistics-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
 }
 
 .logistics-items-container, .logistics-items-container2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   padding: 5px;
}

.logistics-items-container2 {
   width: 95%;
   flex-direction: row;
}
 
 .logistics-title {
   font-size: 6vw;
   margin: 20px;
 }
 
 .logistics-img-cover {
    width: 90px;
    margin-bottom: 3px;
 }

 .logistics-before-click {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: #000000;
   width: 130px;
   height: 130px;
   margin: 10px;
   border-radius: 10px;
   padding: 5px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.logistics-img-text {
   margin: 5px 0 0 0;
}

 .logistics-container, .logistics-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
.logistics-back-next-buttons {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 20px;
}

.logistics-item-group {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 10px;
   margin: 5px;
   width: 160px;
}

@media only screen and (min-device-width: 660px) {
.logistics-title {
   font-size: 30px;
   margin: 30px 20px 20px 20px;
}

.logistics-container1 {
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   width: 360px;
}

.logistics-item-group {
   width: 360px;
   padding: 5px;
   margin: 5px;
}

.logistics-container {
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 360px;
}

.logistics-back-next-buttons {
   margin: 30px 0 20px 0;
}

.logistics-before-click {
   width: 150px;
   height: 150px;
}

.logistics-img-cover {
   width: 100px;
}

}