.logistics-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
 }
 
 .logistics-items-container, .logistics-items-container2 {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.logistics-items-container2 {
   width: 95%;
}
 
 .logistics-title {
   font-size: 6vw;
   color: #0e2823;
   margin: 20px 0 10px 0;
 }
 
 .logistics-img-cover {
    width: 100px;
    margin-bottom: 3px;
 }

 .logistics-before-click {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: #000000;
   width: 150px;
   height: 150px;
   margin: 10px;
   border-radius: 10px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
   color: #F7EBE8;
}

.logistics-small-text {
   font-size: small;
}

 .logistics-container, .logistics-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .logistics-after-click, .logistics-before-click {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #415551;
   width: 150px;
   height: 150px;
   margin: 10px;
   padding: 5px;
   border-radius: 10px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
   color: #F7EBE8;
}

.logistics-before-click {
   background: #000000;
}
 
.logistics-back-next-buttons {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 30px 0 20px 0;
}

.logistics-item-group {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #F7EBE8;
   border-radius: 10px;
}

.logistics-main-container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 350px;
}


@media only screen and (min-device-width: 660px) {
.logistics-title {
   font-size: 30px;
   margin: 30px 20px 20px 20px;
}

.logistics-container1 {
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   width: 600px;
}

.logistics-item-group {
   width: 400px;
}

.logistics-container {
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 400px;
}

.logistics-items-container2 {
   width: 800px;
   justify-content: space-between;
}

.logistics-back-next-buttons {
   margin: 30px 0 20px 0;
}

}