.material-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 10px 0 10px;
}

.material-title {
   font-size: 6vw;
   margin: 20px;
}

.material-items-container, .material-items-container2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   padding: 5px;
}

.material-items-container2 {
   width: 95%;
   flex-direction: row;
}

.material-item-group {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 10px;
   margin: 5px;
   width: 160px;
}

.material-before-click {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: #000000;
   width: 130px;
   height: 130px;
   margin: 10px;
   border-radius: 10px;
   padding: 5px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.material-img-text {
   margin: 5px 0 0 0;
}

.material-img-cover {
   width: 90px;
   margin-bottom: 3px;
}

.material-back-next-buttons {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 20px;
}

.material-container, .material-container1 {
   display: flex;
   flex-direction: column;
   align-items: center;
}


@media only screen and (min-device-width: 660px) {
   .material-wrapper {
      margin: 10px 10px 150px 30px;
   }

   .material-title {
      font-size: 30px;
      margin: 30px 20px 20px 20px;
   }

   .material-container1 {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 360px;
   }

   .material-item-group {
      width: 360px;
      padding: 5px;
      margin: 5px;
   }

   .material-container {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 360px;
   }

   .material-back-next-buttons {
      margin: 30px auto 20px auto;
   }

   .material-before-click {
      width: 150px;
      height: 150px;
   }

   .material-img-cover {
      width: 100px;
   }

}