@media only screen and (min-device-width: 300px) and (max-device-width: 375) {
   .material-after-click, .material-before-click {
      width: 140px;
      height: 140px;
   }

   .material-item-group {
      width: 150px;
   }
}

.material-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 10px;
}

.material-title {
   font-size: 6vw;
   color: #0e2823;
   margin: 20px 0 10px 0;
}

.material-items-container, .material-items-container2 {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.material-items-container2 {
   width: 95%;
}

.material-item-group {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #F7EBE8;
   border-radius: 10px;
}

.material-before-click, .material-after-click {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: #000000;
   width: 150px;
   height: 150px;
   margin: 10px;
   padding: 5px;
   border-radius: 10px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
   color: #F7EBE8;
}

.material-after-click {
   background-color: #415551;
}

.material-img-text {
   margin: 5px 0 0 0;
}

.material-img-cover {
   width: 100px;
   margin-bottom: 3px;
}

.material-back-next-buttons {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 20px 0 20px 0;
}

.material-container, .material-container1 {
   display: flex;
   flex-direction: column;
   align-items: center;
}


@media only screen and (min-device-width: 660px) {
.material-title {
   font-size: 30px;
   margin: 30px 20px 20px 20px;
}

.material-container1 {
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   width: 600px;
}

.material-item-group {
   width: 400px;
}

.material-container {
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 400px;
}

.material-items-container2 {
   width: 800px;
   justify-content: space-between;
}

.material-back-next-buttons {
   margin: 30px auto 20px auto;
}

}