.materialBigContainer {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.materialContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.deselectedMaterial {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #818181;
   background-image: url('');
   background-size: 100%;
   background-repeat: no-repeat;
   width: 15px;
   width: 200px;
   height: 50px;
   margin: 20px 20px 20px 20px;
}
.selectedMaterial {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #404040;
   background-image: url('');
   background-size: 100%;
   background-repeat: no-repeat;
   width: 15px;
   width: 200px;
   height: 50px;
   margin: 20px 5px 20px 5px;
}
