.percentages-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
 }
 
 .percentages-title {
    font-size: 6vw;
    margin: 10px 0 10px 0;
 }
 
 .percentages-img-cover, .percentages-img-cover1 {
    width: 100px;
    margin-bottom: 5px;
 }

 .percentages-img-cover1 {
   width: 120px;
}

.percentages-img-text {
   margin: 5px 0 0 0;
}

 .percentages-main-container, .percentages-main-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .percentages-categories, .percentages-totals {
     text-align: center;
     width: 100px;
 }

 .percentages-totals {
     width: 100%;
 }

 .percentages-detail {
     padding: 4px;
 }

 .percentages-carbon-result {
    font-size: 5vw;
    font-weight: bold;
    margin: 5px;
 }

 .percentages-go-back {
     font-size: 3vw;
     font-weight: bold;
     cursor: pointer;
     margin-bottom: -10px;
 }

 .percentages-go-back:hover {
    color: #415551;
}
 
 .percentages-item-group, .percentages-container2, .percentages-container2-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    font-size: 3.5vw;
 }

 .percentages-container2, .percentages-container2-1 {
    text-align: left;
    width: 90%;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
 }

 .percentages-table {
   font-size: 3vw;
   margin: 10px 5px 10px 5px;
 }

 .percentages-container2-1 {
   width: 80%;
}

 .percentages-explanation {
    font-size: 3.8vw;
    margin: 10px 0 30px 0;
    text-align: left;
 }

.percentages-before-click, .percentages-after-click {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.692);
 }

 .percentages-before-click {
   background-color: #000000;
}


 @media only screen and (min-device-width: 660px) {

.percentages-title {
   font-size: 30px;
   margin: 30px 20px 10px 20px;
}

.percentages-item-group, .percentages-container2, .percentages-container2-1 {
   justify-content: space-between;
   margin: 5px 0 0 0;
   font-size: 16px;
   padding: 10px;
}

.percentages-container2 {
   width: 440px;
   margin: 10px 0 10px 0;
}

.percentages-main-container2 {
   flex-direction: row;
}

.percentages-main-container {
   width: 300px;
}

.percentages-explanation {
   font-size: 18px;
   margin: 20px 20% 30px 20%;
}

.percentages-carbon-result {
   font-size: 20px;
}

.percentages-go-back {
    font-size: 12px;
}

.percentages-table {
   font-size: 12px;
 }
}
