.progressbar-wrapper {
    display: flex;
    margin: 0 0 5px 0;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 300px;
}

.progressbar {
    display: flex;
    border-radius: 20px;
    width: 170px;
    height: 10px;
}

.progressbar-start {
    width: 30px;
    background-color: #000000;
    border-radius: 20px 0 0 20px;
}

.progressbar-category {
    width: 70px;
}

.progressbar-empty {
    width: 30px;
}

.progressbar-full {
    width: 30px;
    background-color: #000000;
}


@media only screen and (min-device-width: 660px) {
.progressbar-wrapper {
    font-size: 12px;
    width: 360px;
}

.progressbar {
    width: 200px;
}

.progressbar-start {
    width: 40px;
}

.progressbar-category {
    width: 80px;
}

.progressbar-empty {
    width: 40px;
}

.progressbar-full {
    width: 40px;
}
}