.results-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   margin: 0 10px 0 10px;
}

.results-title {
   font-size: 6vw;
   margin: 0 10px 10px 10px;
}

.results-img-cover, .results-img-cover1 {
   width: 100px;
   margin-bottom: 3px;
}

.results-img-cover1 {
   width: 120px;
}

.results-items-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.results-img-text {
   margin: 5px 0 0 0;
}

.results-before-click, .results-after-click {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 200px;
   height: 200px;
   margin: 10px;
   border-radius: 10px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.692);
}

.results-before-click {
   background-color: #000000;
}

.results-explanation {
   text-align: left;
   font-size: 4vw;
   line-height: 1.4;
   margin: 15px 10px 5px 10px;
}

.results-thanks-text {
   font-size: 5vw;
}

.results-back-link {
   font-size: 3vw;
   font-weight: bold;
}

.results-carbon-result {
   font-size: 5vw;
   font-weight: bold;
   margin: 5px;
}

.results-details {
   font-size: 4vw;
   letter-spacing: 0.5px;
   font-weight: bold;
   margin: 10px 10px 15px 10px;
}

.results-details:hover {
   color: #394e2696;
}

.results-message {
   margin: 10px;
   font-size: 4.5vw;
   border-radius: 5px;
   padding: 5px;
}

.results-main-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.results-item-group {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

@media only screen and (min-device-width: 660px) {
   .results-wrapper {
      margin: 10px 10px 160px 10px;
   }

   .results-main-container {
      flex-direction: row;
   }

   .results-title {
      font-size: 30px;
      margin: 30px 20px 20px 20px;
   }

   .results-explanation {
      font-size: 17px;
      margin: 20px;
   }

   .results-thanks-text {
      font-size: 20px;
   }

   .results-back-link {
      font-size: 12px;
   }

   .results-carbon-result {
      font-size: 20px;
   }

   .results-details {
      font-size: 15px;
   }

   .results-message {
      font-size: 18px;
   }

}
