.results-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 10px;
}

.results-title {
   font-size: 6vw;
   color: #0e2823;
   margin: 10px;
}

.results-img-cover, .results-img-cover1 {
   width: 100px;
   margin-bottom: 3px;
   filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.644));
}

.results-img-cover1 {
   width: 120px;
}

.results-items-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.results-before-click, .results-after-click {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #F7EBE8;
   width: 200px;
   height: 200px;
   margin: 10px;
   border-radius: 10px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.692);
}

.results-after-click {
   background-color: #000000;
   color: #F7EBE8;
}

.results-explanation {
   font-size: 3.8vw;
   margin: 10px 0 20px 0;
}

.results-back-link {
   font-size: 3vw;
   font-weight: bold;
}

.results-carbon-result {
   font-size: 5vw;
   font-weight: bold;
   margin: 5px;
}

.results-details {
   font-size: 4vw;
   letter-spacing: 0.5px;
   font-weight: bold;
   color:#0e2823;
   margin: 10px 10px 15px 10px;
}

.results-details:hover {
   color: rgba(14, 40, 35, 0.651);
}

.results-message {
   margin: 10px;
   font-size: 4.5vw;
   background-color: #d2cdc62a;
   border-radius: 5px;
   padding: 3px;
}

.results-main-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.results-item-group {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

@media only screen and (min-device-width: 660px) {
.results-main-container {
   flex-direction: row;
}

.results-title {
   font-size: 30px;
   margin: 30px 20px 20px 20px;
}

.results-explanation {
   font-size: 18px;
   margin: 20px;
}

.results-back-link {
   font-size: 12px;
}

.results-carbon-result {
   font-size: 20px;
}

.results-details {
   font-size: 15px;
}

.results-message {
   font-size: 18px;
}

}
