.results-choice-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 10px;
}

.results-direction-text {
   font-size: 6vw;
   color: #0e2823;
   margin: 10px;
}

.results-img-cover {
   width: 100px;
   margin-bottom: 3px;
   filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.644));
}

.results-items-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.results-before-click-category, .results-after-click-category {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #F7EBE8;
   width: 200px;
   height: 200px;
   margin: 10px;
   border-radius: 10px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.692);
}

.results-after-click-category {
   background-color: #000000;
   color: #F7EBE8;
}

.results-explanation {
   font-size: 3.8vw;
   margin: 20px;
}

.results-back-link {
   font-size: 3vw;
   font-weight: bold;
}

.results-carbon-result {
   font-size: 5vw;
   font-weight: bold;
   margin: 5px;
}

.results-details {
   font-size: 4vw;
   letter-spacing: 0.5px;
   font-weight: bold;
   color:#0e2823;
   margin: 10px 10px 15px 10px;
   filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.644));
}

.results-details:hover {
   color: rgba(14, 40, 35, 0.651)rgba(14, 40, 35, 0.808);
   filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.644));
}

.results-message {
   margin: 10px;
   font-size: 4.5vw;
   background-color: #d2cdc62a;
   border-radius: 5px;
   padding: 3px;
}

.results-big-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.results-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

@media only screen and (min-device-width: 768px) {
   .resultsBigContainer {
      flex-direction: row;
      width: 600px;
   }
}
