.tips-box {
    display: flex;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.466);
}

.tips-title {
    font-size: 4vw;
    font-weight: bold;
}

.tips-text {
    font-size: 3.3vw;
    margin: 5px;
}

.tips-info {
    margin: 0;
}

.tips-img {
    height: 50px;
    margin: 5px 10px 5px 5px;
}

@media only screen and (min-device-width: 660px) {
.tips-title {
    font-size: 18px;
}

.tips-text {
    font-size: 15px;
}

.tips-box {
    width: 600px;
    margin-top: 30px;
}
}